{% extends 'main/header.html' %}

{% block title %}Email envoyé{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex flex-column">
        <p class="m-auto p-2">On vous a envoyé des instructions par email pour changer votre mot de passe dans le cas où un compte existe avec l'email choisi.</br> Vous devez le recevoir bientôt!</p>
        <p class="m-auto p-2">Si vous ne receves pas de mail, veuillez vous assurer que vous avez rentré l'adresse mail que vous avez utilisé pour votre compte, puis de regarder votre dossier spam.</p>
    </div>
</div>
{% endblock %}