{% extends 'main/header.html' %}


{% block content %}

	{% load crispy_forms_tags %}          

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
		<p>Mot de passe oublié? Mettez votre mail pour des instructions.</p>
        <form method="POST">
            {% csrf_token %}
			<label for="email">Email : </label>
            <input type="text" id="email" name="email"></input>                  
            <button class="btn btn-primary" type="submit">Envoyer email</button>
        </form>
  	</div> 

{% endblock %}